.container {
  position: relative;
  right: 0;
  transition: right .1s linear;
  &.is-open {
    right: 300px;
    .nav business-list {
      right: 0;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  .nav-title {
    flex: 1;
    font-size: 1.5rem;
    margin: 0.7rem 1rem 0;
    text-transform: uppercase;
    font-weight: bold;
    a{
      color: $white;
      text-decoration: none;
    }
  }
  .menu-toggle {
    align-items: center;
    background: none;
    border: none;
    color: $white;
    display: flex;
    margin: 0;
    margin: 0rem 1rem 0;
    i{font-size: 1.8rem}
  }
}

.nav business-list {
  position: fixed;
  flex-direction: column;
  width: 300px;
  right: -300px;
  top: 0;
  height: 100%;
  background: $black;
  transition: right .1s linear;
  .business-list__block {
    padding: .4rem .8rem;
    section {
      h2 {
        font-size: 1rem;
      }
      p {
        display: none;
      }
    }
  }
  business {
    width: 100%;
    box-shadow: 0 10px 1px rgba(0,0,0,.5);
  }
}